body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px 150px;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style-type: none;
}

.sub-header {
  display: flex;
  padding: 50px 0;
}

.hero {
  width: 50%;
}

.hero h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  margin-bottom: 0;
  padding-bottom: 0;
}

.hero p,
.nav li {
  font-size: 18px;
  color: #e5e7eb;
}

.hero p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.img-frame {
  display: flex;
  background-color: grey;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 40px;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  border-color: white;
  padding: 6px 20px;
  font-weight: bold;
  width: 100px;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 200px;
}

.info h1 {
  margin-bottom: 40px;
}

.illust-table {
  display: flex;
  text-align: center;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.illustration img {
  width: 150px;
  height: 150px;
  border: 2px solid rgb(110, 109, 109);
  border-radius: 50%;
  margin-bottom: 8px;
}

.illustration a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.quote {
  display: block;
  padding: 50px 200px;
  background-color: #e5e7eb;
  font-size: 26px;
  color: #1f2937;
}

.quote-text {
  font-style: italic;
  margin-bottom: 0;
}

.quote-text span {
  font-family: cursive, sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.author {
  text-align: right;
  margin-top: 0;
  font-weight: bold;
}

.action-signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  margin: 70px 150px;
  border-radius: 25px;
  color: #e5e7eb;
  /*height: 100px;*/
  padding: 30px 70px;
  flex-wrap: wrap;
}

.signup-text h3,
.signup-text p {
  margin: 0;
}

.signup-text {
  margin-right: 5px;
}

.footer {
  background-color: #1f2937;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
